@model WebAppMovie1.Models.MovieCast

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieCast</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieCastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieCastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonRole.PersonRole1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonRole.PersonRole1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieCastID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
