@model IEnumerable<WebAppMovie1.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movie List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieCasts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie_Genre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieReleaseDate)
            </td>
            <td>
                @foreach (var item1 in Model)
                {
                    @Html.DisplayFor(modelItem => item1.MovieCasts)

                }
             </td>
            <td>
                @foreach (var item1 in Model)
                {
                    @Html.DisplayFor(modelItem => item1.Movie_Genre)

                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
            </td>
        </tr>
    }

</table>
